$unfocusedColor: #888;
$focusedBorderColor: #ED9939;
$focusedButtonColor: black;

//#drop-target {
//    width: 300px;
//    height: 300px;
//    background: #bbbbbb;
//    border: 1px dashed black;
//}
//
//#drop-target.hover {
//    background: #99EBF2;
//    border: 3px dashed black;
//}

@mixin circleButton() {
  display: inline-block;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 3px solid $unfocusedColor;
  border-radius: 100px;

  transition: border-color 0.3s ease;
  &:hover {
    border-color: $focusedBorderColor;
  }
}

.controls {
  &__playpause {
    &_play {
      @include circleButton();

      &::after {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 34px solid black;
        border-bottom: 20px solid transparent;
        margin-left: 37px;
        margin-top: 30px;
        content: '';
      }
    }
    &_pause {
      @include circleButton();

      &::before {
        display: block;
        position: absolute;
        width: 10px;
        height: 40px;
        background: black;
        margin-left: 37px;
        margin-top: 30px;
        content: '';
      }
      &::after {
        display: block;
        position: absolute;
        width: 10px;
        height: 40px;
        background: black;
        margin-left: 52px;
        margin-top: 30px;
        content: '';
      }
    }
  }
  &__play {
    @include circleButton();

    &::after {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 34px solid black;
      border-bottom: 20px solid transparent;
      margin-left: 37px;
      margin-top: 30px;
      content: '';
    }
  }

  &__pause {
    @include circleButton();

    &::before {
      display: block;
      position: absolute;
      width: 10px;
      height: 40px;
      background: black;
      margin-left: 37px;
      margin-top: 30px;
      content: '';
    }
    &::after {
      display: block;
      position: absolute;
      width: 10px;
      height: 40px;
      background: black;
      margin-left: 52px;
      margin-top: 30px;
      content: '';
    }
  }

  &__equalizer {
    @include circleButton();

    svg {
      position: absolute;
      margin-left: 13px;
      margin-top: 25px;
    }
  }
}

#canvas {
  border: 3px solid black;
}