.controls {
  width: 25%;
  max-width: 300px;
  margin: auto; }
  .controls__playpause_play {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid #888;
    border-radius: 100px;
    transition: border-color 0.3s ease; }
    .controls__playpause_play:hover {
      border-color: #ED9939; }
    .controls__playpause_play::after {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 34px solid black;
      border-bottom: 20px solid transparent;
      margin-left: 37px;
      margin-top: 30px;
      content: ''; }
  .controls__playpause_pause {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid #888;
    border-radius: 100px;
    transition: border-color 0.3s ease; }
    .controls__playpause_pause:hover {
      border-color: #ED9939; }
    .controls__playpause_pause::before {
      display: block;
      position: absolute;
      width: 10px;
      height: 40px;
      background: black;
      margin-left: 37px;
      margin-top: 30px;
      content: ''; }
    .controls__playpause_pause::after {
      display: block;
      position: absolute;
      width: 10px;
      height: 40px;
      background: black;
      margin-left: 52px;
      margin-top: 30px;
      content: ''; }
  .controls__playpause_inactive {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid #888;
    border-radius: 100px;
    transition: border-color 0.3s ease; }
    .controls__playpause_inactive:hover {
      border-color: #ED9939; }
    .controls__playpause_inactive::after {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 34px solid #888;
      border-bottom: 20px solid transparent;
      margin-left: 37px;
      margin-top: 30px;
      content: ''; }
    .controls__playpause_inactive:hover {
      border-color: #888; }
  .controls__equalizer {
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid #888;
    border-radius: 100px;
    transition: border-color 0.3s ease; }
    .controls__equalizer:hover {
      border-color: #ED9939; }
    .controls__equalizer svg {
      position: absolute;
      margin-left: 13px;
      margin-top: 25px; }
      .controls__equalizer svg * {
        stroke: black; }
    .controls__equalizer_inactive {
      display: inline-block;
      margin: auto;
      width: 100px;
      height: 100px;
      border: 3px solid #888;
      border-radius: 100px;
      transition: border-color 0.3s ease; }
      .controls__equalizer_inactive:hover {
        border-color: #ED9939; }
      .controls__equalizer_inactive svg {
        position: absolute;
        margin-left: 13px;
        margin-top: 25px; }
        .controls__equalizer_inactive svg * {
          stroke: #888; }
      .controls__equalizer_inactive:hover {
        border-color: #888; }

.progress {
  width: 100%;
  height: 20px;
  margin: 0;
  background: #888; }
  .progress__left {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ED9939; }
  .progress__right {
    position: absolute; }

#canvas {
  border: 3px solid black; }

/*# sourceMappingURL=main.css.map */
