$numberOfBlocks: 12;
$blockWidth: 80px;
$playerWidth: $blockWidth * $numberOfBlocks;

$buttonSize: 100px;
$progressHeight: 15px;

$inactiveButtonColor: #888;
$activeButtonColor: black;

$fulfilledColor: #ED9939;
$unfulfilledColor: #C0C0C0;

@mixin circleButton($size) {
  width: $size;
  height: $size;
  border: 3px solid $activeButtonColor;
  border-radius: 100%;
}

@mixin changeBorderColorOnHover() {
  transition: border-color 0.3s ease;
  &:hover {
    border-color: $fulfilledColor;
  }
}

@font-face {
  font-family: LCD7;
  src: url('rP2r0IAC.ttf');
}

.player {
  width: $playerWidth;
  margin: auto;
  vertical-align: middle;
  //background: #eeeeee;

  &__visualization {
    width: 100%;
    text-align: center;

    canvas {
      display: block;
      width: $playerWidth;
      height: 500px;
      margin: auto;
      background: black;
    }

    &__progress {
      width: 100%;
      height: 15px;
      background: $unfulfilledColor;
    }

    &__time {
      display: inline-block;
      margin-top: 10px;

      &__current, &__duration{
        font-family: LCD7, monospace;
      }

      &__delimeter {
        font-family: monospace;
        font-size: 3em;
      }
    }
  }

  &__controls {

    &__playpause {

      &_play, &_pause, &_inactive {
        @include circleButton($buttonSize);
        margin: 10px auto auto;
      }

      &_play, &_pause{
        @include changeBorderColorOnHover();
      }

      &_play {

        &::after {
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 34px solid $activeButtonColor;
          border-bottom: 20px solid transparent;
          margin-left: 37px;
          margin-top: 30px;
          content: '';
        }
      }

      &_pause {

        &::before {
          display: block;
          position: absolute;
          width: 10px;
          height: 40px;
          background: $activeButtonColor;
          margin-left: 37px;
          margin-top: 30px;
          content: '';
        }

        &::after {
          display: block;
          position: absolute;
          width: 10px;
          height: 40px;
          background: $activeButtonColor;
          margin-left: 52px;
          margin-top: 30px;
          content: '';
        }
      }

      &_inactive {

        border-color: $inactiveButtonColor;
        &::after {
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 34px solid $inactiveButtonColor;
          border-bottom: 20px solid transparent;
          margin-left: 37px;
          margin-top: 30px;
          content: '';
        }
      }
    }

    &__settings {
      @include circleButton($buttonSize / 2);
      @include changeBorderColorOnHover();
      position: absolute;
      top: 25px;
      margin-left: 11 * $blockWidth;

      background-size: contain;
      background: white url('gear.svg') no-repeat center;
    }

    &__volume {
      $outerSize: 2 * $buttonSize;
      $innerSize: $outerSize - 2 * $progressHeight;

      @include circleButton($outerSize);

      border-width: 0;
      position: absolute;
      margin-top: -150px;
      margin-left: 10 * $blockWidth;

      background-color: $unfulfilledColor;

      &__inside {
        @include circleButton($innerSize);

        margin-left: $progressHeight;
        margin-top: $progressHeight;
        border-width: 0;
        text-align: center;

        background-color: white;

        &__value {
          position: relative;

          top: 35%;
          font-family: LCD7, monospace;
          font-size: 2em;
        }
      }

      &::after {
        $delimeterWidth: 6px;
        display: block;
        width: $delimeterWidth;
        height: $progressHeight;
        margin-left: ($outerSize - $delimeterWidth) / 2;
        background: black;
        content: '';
      }
    }
  }
}